{
    "extends" : [
        "airbnb",
        "prettier"
    ],
    "plugins": ["cypress"],
    "env": {
        "jest": true,
        "browser": true,
        "es6": true,
        "cypress/globals": true
    },
    "parser": "babel-eslint",
    "rules" : {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}